header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10%;
  -webkit-box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.containerLogo {
  width: 125px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: sacramento;
  color: #363636;
}

#ecommerce {
  border-style: none;
  border-radius: 10%;
  font-weight: 500;
  font-size: 50px;
  font-family: sacramento;
  color: #BEA6A1;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #F3EED9;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #363636;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #D5CABD;
}

::-webkit-scrollbar-thumb :hover {
  background-color: #FFECF0;
}

.jumbotron {
  background-image: url(img/23.jpg);
  background-position: bottom;
  background-size: cover;
  min-height: 300px;
  color: beige;
  font-family: allur;
}

.jumbotron h2 {
  color: #363636;
  text-shadow: 0px 5px 4px 3px #BEA6A1;
  font-weight: 500;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

.jumbotron p {
  font-family: sacramento;
  font-size: 30px;
}

#saludo {
  color: white;
  font-size: 30px;
}

.tituloJumbotron {
  font-family: sacramento;
  color: white;
}

span {
  color: #363636;
  font-size: 30px;
}

.parrafo {
  padding: 20px;
  color: #363636;
}

img {
  width: 100%;
}

#boton-carrito {
  border: none;
  color: #363636;
  font-size: 30px;
  background-color: #D5CABD;
  border-radius: 50%;
  padding: 10px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#boton-carrito:hover {
  cursor: pointer;
  color: #D5CABD;
  background-color: #363636;
}

#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

p {
  line-height: 1.8;
}

.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.precioProducto {
  font-weight: 700;
}

.boton-agregar {
  background-color: #363636;
  color: #D5CABD;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}

.boton-agregar:hover {
  cursor: pointer;
}

.boton-agregar:focus {
  outline: none;
}

#cantidad {
  color: #363636;
  font-size: 20px;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: #F3EED9;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: #363636;
  padding-bottom: 5px;
  margin-left: auto;
  font-family: sacramento;
  font-weight: 700;
  font-size: 40px;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #363636;
  border: none;
  background-color: #F3EED9;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;
}

.productoEnCarrito {
  border-left: 5px solid #D5CABD;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 3px solid #363636;
}

.boton-eliminar {
  background-color: #F3EED9;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

#listado {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

#tarjetaOferta {
  margin: auto;
  color: #363636;
  padding: 10px;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
}

.encabezado {
  padding: 10px;
  background-color: #363636;
  color: #D5CABD;
  text-align: center;
  font-family: sacramento;
  font-size: 40px;
}

.panel {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: "\f150";
  font-family: "fontawesome";
  font-size: 18px;
  float: right;
}

button.accordion.is-open:after {
  content: "\f151";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

footer {
  background-color: #363636;
  color: #F3EED9;
  text-align: center;
  padding: 10px;
}

footer p {
  text-align: center;
}

footer a {
  color: #F3EED9;
  font-size: 22px;
  padding: 5px;
}

footer a a:hover {
  color: #D5CABD;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: #F3EED9;
  border: 3px solid #363636;
  color: #363636;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 10px #F3EED9;
          box-shadow: 4px 4px 10px #F3EED9;
}
/*# sourceMappingURL=styles.css.map */